{% extends 'base.html' %}
{% block content %}
<div class="ui raised very padded text container segment">
    <h2 class="ui header">Editing Todo</h2>
<form method="POST" class="ui form">
  <div class="field">
    <label>Title</label>
    <input type="text" name="title" placeholder="Title" value="{{todo.title}}">
  </div>
  <div class="field">
    <label>Description</label>
    <input type="text" name="description" placeholder="Description" value="{{todo.description}}">
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="is_important" {% if todo.is_important %}checked{% endif %}>
      <label>is important?</label>
    </div>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
</div>
{% endblock %}